In [1]:
import pandas as pd
employ_df = pd.read_csv("stateemployment_monthly.csv")
employ_df.head()

     State  Year  Month  Value  1-Month % Change
0  Alabama  2000      1    4.7              -2.1
1  Alabama  2000      2    4.7               0.0
2  Alabama  2000      3    4.6              -2.1
3  Alabama  2000      4    4.6               0.0
4  Alabama  2000      5    4.5              -2.2

In [3]:
employ_df.to_html("employment.html")

In [4]:
pollution_df = pd.read_csv("pollution_2005_2016.csv")
pollution_df.head

<bound method NDFrame.head of            State  Sample Year  Sample Month          NO2 Units  \
0        Arizona         2005             1  Parts per billion
1        Arizona         2005             2  Parts per billion
2        Arizona         2005             3  Parts per billion
3        Arizona         2005             4  Parts per billion
4        Arizona         2005             5  Parts per billion
...          ...          ...           ...                ...
4018    Virginia         2016             2  Parts per billion
4019  Washington         2016             1  Parts per billion
4020     Wyoming         2016             1  Parts per billion
4021     Wyoming         2016             2  Parts per billion
4022     Wyoming         2016             3  Parts per billion

      Average of NO2 Mean           O3 Units  Average of O3 Mean  \
0               22.674850  Parts per million            0.010018
1               19.542680  Parts per million            0.015479
2               19.674832  Parts per million            0.024243
3               21.509326  Parts per million            0.031231
4               19.719337  Parts per million            0.031362
...                   ...                ...                 ...
4018             8.902051  Parts per million            0.025058
4019            14.730538  Parts per million            0.015901
4020             4.359764  Parts per million            0.037673
4021             2.610661  Parts per million            0.040319
4022             3.247965  Parts per million            0.039541

              SO2 Units  Average of SO2 Mean           CO Units  \
0     Parts per billion             1.215276  Parts per million
1     Parts per billion             0.678611  Parts per million
2     Parts per billion             1.245270  Parts per million
3     Parts per billion             1.787622  Parts per million
4     Parts per billion             2.313748  Parts per million
...                 ...                  ...                ...
4018  Parts per billion             0.498947  Parts per million
4019  Parts per billion             0.202716  Parts per million
4020  Parts per billion            -0.054836  Parts per million
4021  Parts per billion            -0.065226  Parts per million
4022  Parts per billion             0.018929  Parts per million

      Average of CO Mean
0               0.661753
1               0.466213
2               0.523486
3               0.605336
4               0.565971
...                  ...
4018            0.282484
4019            0.274327
4020            0.101135
4021            0.084270
4022            0.091466

[4023 rows x 11 columns]>

In [5]:
pollution_df.to_html("pollution.html")